<!DOCTYPE html> 
{% load static %}
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <script src="{% static 'chart.js' %}"></script>
    <script src="{% static 'chartjs-plugin-annotation.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'p5.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script> -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
        crossorigin="anonymous">
        <title>Real-Time app with Django Channels</title>
  

    </head>
    <style>
    h4
    {
        display: inline-block;
        text-align: center;
        
    }

    button {
    padding: 10px 20px;
    margin: 5px;
    background-color: gray;
    color: #fff;
    border: none;    
    outline: none;
    border-radius: 5px;
  }

    </style>

    <body>
        <form action="/exportcsv" style="margin: auto; width: 220px;">
            <button style="background-color: red" id="export" type="submit" >Stop and Export CSV</button>
        </form>

        <div class="container">
            <div class="row">

                    <form id="thresholdForm" action="/action_page.php">
                        <br><br>
                        <label for="maxForceThresh">Force Threshold:</label>
                        <input type="text" id="maxForceThresh" name="maxForceThresh" maxlength="10" size="6">
                    
                        <label for="accThresh">ACC Threshold:</label>
                        <input type="text" id="accThresh" name="accThresh" maxlength="10" size="6">
                    
                        <label for="PIRThresh">PIR Threshold    :</label>
                        <input type="text" id="PIRThresh" name="PIRThresh" maxlength="10" size="6"><br><br>
                    
                        <label for="photoDiodeThresh">Photodiode Threshold    :</label>
                        <input type="text" id="photoDiodeThresh" name="photoDiodeThresh" maxlength="10" size="6">
                    
                        <label for="photoResistorThresh">Photoresistor Threshold:</label>
                        <input type="text" id="photoResistorThresh" name="photoResistorThresh" maxlength="10" size="6">
                    
                        <label for="tempThresh">Temperature Threshold:</label>
                        <input type="text" id="tempThresh" name="tempThresh" maxlength="10" size="6"><br><br>
                    
                        <label for="soundThresh">Sound Threshold:</label>
                        <input type="text" id="soundThresh" name="soundThresh" maxlength="10" size="6"><br><br>
                    </form>
                    <button onclick="updateThreshold()">Update Threshold</button>

                <div>
                    <button id="PhotoDiodeButton" onclick="togglePhotoDiode(this)">Hide Photo Diode</button>
                    <button id="IRCameraButton" onclick="toggleIRCamera(this)">Hide IR Camera</button>
                    <button id = "MaxForceButton" onclick="toggleMaxForce(this)">Hide Max Force</button>
                    <button id = "PhotoResistorButton" onclick="togglePhotoResistor(this)">Hide Photo Resistor</button>
                    <button id = "ForceBarsButton" onclick="toggleForceBars(this)">Hide Force Bars</button>
                    <button id = "AccelerometerButton" onclick="toggleAcc(this)">Hide Accelerometer</button>
                    <button id = "TemperatureButton" onclick="toggleTemperature(this)">Hide Temperature</button>
                    <button id = "SoundButton" onclick="toggleSound(this)">Hide Sound</button>
                    <button id = "PIRButton" onclick="togglePIR(this)">Hide PIR</button>
                </div>
                
                    <script>
                        PhotoDiodeButton.style.backgroundColor = 'green'
                        IRCameraButton.style.backgroundColor = 'green'
                        MaxForceButton.style.backgroundColor = 'green'
                        PhotoResistorButton.style.backgroundColor = 'green'
                        ForceBarsButton.style.backgroundColor = 'green'
                        AccelerometerButton.style.backgroundColor = 'green'
                        TemperatureButton.style.backgroundColor = 'green'
                        SoundButton.style.backgroundColor = 'green'
                        PIRButton.style.backgroundColor = 'green'

                    </script>

                <style>
                    #ACC {
                        border: thick solid green;
                    }
                    #TEMP {
                        border: thick solid green;
                    }
                    #FORCEBAR {
                        border: thick solid green;
                    }
                    #MAXFORCE {
                        border: thick solid green;
                    }
                    #PHOTODIODE {
                        border: thick solid green;
                    }
                    #PHOTORESISTOR {
                        border: thick solid green;
                    }
                    #PIR {
                        border: thick solid green;
                    }
                    #SOUND {
                        border: thick solid green;
                    }

                </style>
                 <div> 
                    
                    <div id="ACC" style="display: inline-block">
                        <canvas id="myChartAcc" width="500px" height="200px"></canvas>
                           
                        <p1 id="accx">{{ text }}</p1>
                        <p1 id="accy">{{ text }}</p1>
                        <p1 id="accz">{{ text }}</p1>
                    </div>
                    

                
                    <div id="TEMP" style="display: inline-block">
                        <canvas id="myChartTemp" width="500px" height="200px"></canvas>
                        <p1 id="temp">{{ text }}</p1>
                    </div> 
                    
                    
                    <!-- <div id="SOUND" style="display: inline-block">
                        <canvas id="myChartSound" width="500px" height="200px"></canvas>
                        <p1 id="sound">{{ text }}</p1>
                    </div> -->

                     <div id="FORCEBAR" style="display: inline-block">
                        <canvas id="myChartForceBar" width="500px" height="200px"></canvas>
                        <p1 id="leftForce">{{ text }}</p1>
                        <p1 id="rightForce">{{ text }}</p1>
                        <p1 id="topForce">{{ text }}</p1>
                        <p1 id="bottomForce">{{ text }}</p1>
                    </div>

                    <div id="MAXFORCE" style="display: inline-block">
                        <canvas id="myChartForceMaxLine" width="500px" height="200px"></canvas>
                        <p1 id="maxForce">{{ text }}</p1>
                    </div>
<!-- 
                    <div id="PIR" style="display: inline-block">
                        <canvas id="myChartPIR" width="500px" height="200px"></canvas>
                        <p1 id="pir">{{ text }}</p1>
                    </div>
                    -->
                    
                    <!-- <div id="PHOTODIODE" style="display: inline-block">
                        <canvas id="myChartPhotoDiode" width="500px" height="200px"></canvas>
                        <p1 id="photoDiode">{{ text }}</p1>
                    </div>

                    <div id="PHOTORESISTOR" style="display: inline-block">
                        <canvas id="myChartPhotoResistor" width="500px" height="200px"></canvas>
                        <p1 id="photoResistor">{{ text }}</p1>
                    </div> -->

                </div>
            </div>
        </div>
    <script>
        
        var socket = new WebSocket('ws://localhost:8000/ws/some_url/');
        const myData = [];
        const myDataTemp = [];
        const myDataSound = [];
        const myDataX = [];
        const myDataY = [];
        const myDataZ = [];
        const myDataPIR = [];
        const myDataPhotoDiode = [];
        const myDataPhotoResistor = [];
        var IRCameraData = [];
        
        var time_counter = 0;
        const time_axis = [];

        const ctx = document.getElementById('myChartAcc');


        
        const myChartAcc = new Chart(ctx, {
            type: 'bar', // added to make bar graph
            //type: 'line', // removed to make bar graph
            data: {
                labels: [],
                datasets: [{
                    label: 'Sensor Data x',
                    data: [],
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                },
                {
                    label: 'Sensor Data y',
                    data: [],
                    backgroundColor: 'rgb(25, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                },
                {
                    label: 'Sensor Data z',
                    data: [],
                    backgroundColor: 'rgb(245, 199, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                },
            ]
                
            },
            options: {
                plugins: {
                autocolors: false,
                    annotation: {
                        annotations: {
                            line1: {
                            type: 'line',
                            yMin: 60,
                            yMax: 60,
                            borderColor: 'rgb(245, 66, 66)',
                            borderWidth: 4,
                            }
                        }
                    }
                },
                responsive: false,
                scales: {
                    y: {
                        suggestedMin: 0,
                        suggestedMax: 20
                    }
                }

            }            
        });
        
    

        const ctx2 = document.getElementById('myChartTemp');
        const myChartTemp = new Chart(ctx2, {
            //type: 'bar', // added to make bar graph
            type: 'line', // removed to make bar graph
            data: {
                labels: [],
                datasets: [{
                    label: 'Temperature',
                    tension: 0.3,
                    data: [],
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                }
            ]
                
            },
            options: {
                plugins: {
                autocolors: false,
                    annotation: {
                        annotations: {
                            line1: {
                            type: 'line',
                            yMin: 60,
                            yMax: 60,
                            borderColor: 'rgb(245, 66, 66)',
                            borderWidth: 4,
                            }
                        }
                    }
                },
                responsive: false,
                scales: {
                    y: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                }
            }
        });

        
        /*
        const ctx3 = document.getElementById('myChartSound');
        const myChartSound = new Chart(ctx3, {
            type: 'line', // removed to make bar graph
            data: {
                labels: [],
                datasets: [{
                    label: 'Sound',
                    tension: 0.3,
                    data: [],
                    backgroundColor: 'rgb(235, 168, 52)',
                    borderColor: 'rgb(235, 168, 52)',
                    borderWidth: 1
                }
            ]
                
            },
            options: {
                plugins: {
                autocolors: false,
                    annotation: {
                        annotations: {
                            line1: {
                            type: 'line',
                            yMin: 40,
                            yMax: 40,
                            borderColor: 'rgb(245, 66, 66)',
                            borderWidth: 4,
                            }
                        }
                    }
                },
                responsive: false,
                scales: {
                    y: {
                        suggestedMin: 0,
                        suggestedMax: 50
                    }
                }
            }
        });
        */


        const ctx4 = document.getElementById('myChartForceBar');
        const myChartForceBar = new Chart(ctx4, {
            type: 'bar', // added to make bar graph
            //type: 'line', // removed to make bar graph
            data: {
                labels: [],
                datasets: [{
                    label: 'Left Force Sensor',
                    data: [],
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                },
                {
                    label: 'Right Force Sensor',
                    data: [],
                    backgroundColor: 'rgb(25, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                },
                {
                    label: 'Top Force Sensor',
                    data: [],
                    backgroundColor: 'rgb(245, 199, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                },
                {
                    label: 'Bottom Force Sensor',
                    data: [],
                    backgroundColor: 'rgb(245, 199, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                },
                
            ]
                
            },
            options: {
                
                plugins: {
                autocolors: false,
                    annotation: {
                        annotations: {
                            line1: {
                            type: 'line',
                            yMin: 60,
                            yMax: 60,
                            borderColor: 'rgb(245, 66, 66)',
                            borderWidth: 4,
                            }
                        }
                    }
                },
                responsive: false,
                scales: {
                    y: {
                        suggestedMin: 0,
                        suggestedMax: 25
                    }
                }


            }            
        });
        
        
        function updateThreshold() {
            var x = document.getElementById("thresholdForm");
            if (x.elements[0].value != '') {
                myChartForceMaxLine.options.plugins.annotation.annotations.line1.yMax = x.elements[0].value;
                myChartForceMaxLine.options.plugins.annotation.annotations.line1.yMin = x.elements[0].value;
                myChartForceMaxLine.update();
            }

            if (x.elements[1].value != '') {
                myChartAcc.options.plugins.annotation.annotations.line1.yMax = x.elements[1].value;
                myChartAcc.options.plugins.annotation.annotations.line1.yMin = x.elements[1].value;
                myChartAcc.update();
            }

            if (x.elements[2].value != '') {
                myChartPIR.options.plugins.annotation.annotations.line1.yMax = x.elements[2].value;
                myChartPIR.options.plugins.annotation.annotations.line1.yMin = x.elements[2].value;
                myChartPIR.update();
            }

            if (x.elements[3].value != '') {
                myChartPhotoDiode.options.plugins.annotation.annotations.line1.yMax = x.elements[3].value;
                myChartPhotoDiode.options.plugins.annotation.annotations.line1.yMin = x.elements[3].value;
                myChartPhotoDiode.update();
            }

            if (x.elements[4].value != '') {
                myChartPhotoResistor.options.plugins.annotation.annotations.line1.yMax = x.elements[4].value;
                myChartPhotoResistor.options.plugins.annotation.annotations.line1.yMin = x.elements[4].value;
                myChartPhotoResistor.update();
            }

            if (x.elements[5].value != '') {
                myChartTemp.options.plugins.annotation.annotations.line1.yMax = x.elements[5].value;
                myChartTemp.options.plugins.annotation.annotations.line1.yMin = x.elements[5].value;
                myChartTemp.update();
            }

            if (x.elements[6].value != '') {
                myChartSound.options.plugins.annotation.annotations.line1.yMax = x.elements[6].value;
                myChartSound.options.plugins.annotation.annotations.line1.yMin = x.elements[6].value;
                myChartSound.update();
            }


        }


        const ctx5 = document.getElementById('myChartForceMaxLine');
        const myChartForceMaxLine = new Chart(ctx5, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Max Force Value',
                    tension: 0.3,
                    data: [],
                    backgroundColor: 'rgb(235, 168, 52)',
                    borderColor: 'rgb(235, 168, 52)',
                    borderWidth: 1
                }
            ]
                
            },
            options: {
                plugins: {
                autocolors: false,
                    annotation: {
                        annotations: {
                            line1: {
                            type: 'line',
                            yMin: 10,
                            yMax: 10,
                            borderColor: 'rgb(245, 66, 66)',
                            borderWidth: 4,
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        suggestedMin: 0,
                        suggestedMax: 25
                    }
                }
            }
        });
        /*
        const ctx6 = document.getElementById('myChartPIR');
        const myChartPIR = new Chart(ctx6, {
            type: 'line', // removed to make bar graph
            data: {
                labels: [],
                datasets: [{
                    label: 'PIR',
                    tension: 0.3,
                    data: [],
                    backgroundColor: 'rgb(235, 118, 151)',
                    borderColor: 'rgb(235, 118, 151)',
                    borderWidth: 1
                }
            ]
                
            },
            options: {
                plugins: {
                autocolors: false,
                    annotation: {
                        annotations: {
                            line1: {
                            type: 'line',
                            yMin: 40,
                            yMax: 40,
                            borderColor: 'rgb(235, 118, 151)',
                            borderWidth: 4,
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        suggestedMin: 0,
                        suggestedMax: 1
                    }
                }
            }
        });
        */

        /*
        const ctx7 = document.getElementById('myChartPhotoDiode');
        const myChartPhotoDiode = new Chart(ctx7, {
            type: 'line', // removed to make bar graph
            data: {
                labels: [],
                datasets: [{
                    label: 'Photo Diode',
                    tension: 0.3,
                    data: [],
                    backgroundColor: 'rgb(235, 168, 52)',
                    borderColor: 'rgb(235, 168, 52)',
                    borderWidth: 1
                }
            ]
                
            },
            options: {
                plugins: {
                autocolors: false,
                    annotation: {
                        annotations: {
                            line1: {
                            type: 'line',
                            yMin: 40,
                            yMax: 40,
                            borderColor: 'rgb(245, 66, 66)',
                            borderWidth: 4,
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        suggestedMin: 1,
                        suggestedMax: 100
                    }
                }
            }
        });

        const ctx8 = document.getElementById('myChartPhotoResistor');
        const myChartPhotoResistor = new Chart(ctx8, {
            type: 'line', // removed to make bar graph
            data: {
                labels: [],
                datasets: [{
                    label: 'Photo Resistor',
                    tension: 0.3,
                    data: [],
                    backgroundColor: 'rgb(35, 138, 52)',
                    borderColor: 'rgb(35, 138, 52)',
                    borderWidth: 1
                }
            ]
                
            },
            options: {
                plugins: {
                autocolors: false,
                    annotation: {
                        annotations: {
                            line1: {
                            type: 'line',
                            yMin: 40,
                            yMax: 40,
                            borderColor: 'rgb(35, 138, 52)',
                            borderWidth: 4,
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        suggestedMin: 1,
                        suggestedMax: 100
                    }
                }
            }
        });
        */

        var count;
        var maxForceArr = [];
        var maxForceVal;
        var displayFreq = 3;

        socket.onmessage = function(event) {
            var data = JSON.parse(event.data); //data.<dictionary key>
            
            if(data.sensor == 'temp') {
                if (time_counter % displayFreq == 0) { 
                    document.querySelector('#temp').innerText = "\xa0\xa0\xa0\xa0 Temperature = " + data.value + " C"; //JSON.stringify(data);
                }
                myDataTemp.push(data.value);
                time_axis.push(time_counter);
                myChartTemp.data.labels.push(time_counter.toString());
                
                time_counter++; // global time counter
                myChartTemp.data.datasets.forEach((dataset) => {
                    if (dataset.data.length > 50) {
                        dataset.data.shift();
                        myChartTemp.data.labels.shift();
                    }
                    
                    dataset.data.push(myDataTemp[myDataTemp.length-1]);
                });
                myChartTemp.update(); // 'none' removes animations
                console.log(myDataTemp);
            }
            /*
            else if(data.sensor == 'sound') {
                if (time_counter % displayFreq == 0) { 
                    document.querySelector('#sound').innerText = "\xa0\xa0\xa0\xa0 Sound = " + data.value + " Units"; //JSON.stringify(data);
                }
                myDataSound.push(data.value);
                time_axis.push(time_counter);

                myChartSound.data.labels.push(time_counter.toString());
                
                myChartSound.data.datasets.forEach((dataset) => {
                    if (dataset.data.length > 50) {
                        dataset.data.shift();
                        myChartSound.data.labels.shift();
                    }

                    dataset.data.push(myDataSound[myDataSound.length-1]);
                });
                myChartSound.update(); // 'none' removes animations
                console.log(myDataSound);
            }
            */


            else if (data.sensor == 'accx') {
                if (time_counter % displayFreq == 0) { 
                    document.querySelector('#accx').innerText = "\xa0\xa0\xa0\xa0 X: " + data.value + " m/s/s";
                }
                myDataX.push(data.value);
                //time_axis.push(time_counter++);
                myChartAcc.data.labels.pop(); // added to make bar graph
                myChartAcc.data.labels.push(time_counter.toString());
                
                myChartAcc.data.datasets.forEach((dataset) => {
                    if (dataset.label == 'Sensor Data x') {
                        dataset.data.pop(); // added to make bar graph
                        dataset.data.push(myDataX[myDataX.length-1]);
                    }
                });
                
                console.log(myDataY);
            }
            else if (data.sensor == 'accy') {
                if (time_counter % displayFreq == 0) { 
                    document.querySelector('#accy').innerText = "\xa0\xa0\xa0\xa0 Y: " + data.value + " m/s/s";
                }
                myDataY.push(data.value);
                //time_axis.push(time_counter++);
                myChartAcc.data.labels.pop(); // added to make bar graph
                myChartAcc.data.labels.push(time_counter.toString());
    
                myChartAcc.data.datasets.forEach((dataset) => {
                    if (dataset.label == 'Sensor Data y') {
                        dataset.data.pop(); // added to make bar graph
                        dataset.data.push(myDataY[myDataY.length-1]);
                    }
                });
                
                console.log(myDataY);
                
            }
            else if (data.sensor == 'accz') {
                document.querySelector('#accz').innerText = "\xa0\xa0\xa0\xa0 Z: " + data.value + " m/s/s      ";
                
                myDataZ.push(data.value);
                //time_axis.push(time_counter++);
                myChartAcc.data.labels.pop(); // added to make bar graph
                myChartAcc.data.labels.push(time_counter.toString());
                
                //time_counter++;
                myChartAcc.data.datasets.forEach((dataset) => {
                    if (dataset.label == 'Sensor Data z') {
                        dataset.data.pop(); // added to make bar graph
                        dataset.data.push(myDataZ[myDataZ.length-1]);
                    }
                });
                
                myChartAcc.update('none'); // 'none' removes animations
                console.log(myDataZ);
                
            }
            
            
            else if (data.sensor == 'leftForce') {
                document.querySelector('#leftForce').innerText = "\xa0\xa0\xa0\xa0 Left: " + data.value + " N";
                
                myDataZ.push(data.value);
                //time_axis.push(time_counter++);
                myChartForceBar.data.labels.pop(); // added to make bar graph
                myChartForceBar.data.labels.push(time_counter.toString());
                
                //time_counter++;
                myChartForceBar.data.datasets.forEach((dataset) => {
                    if (dataset.label == 'Left Force Sensor') {
                        dataset.data.pop(); // added to make bar graph
                        dataset.data.push(myDataZ[myDataZ.length-1]);
                    }
                });
                

                myChartForceBar.update('none'); // 'none' removes animations
                console.log(myDataZ);

                // UPDATE ARRAY FOR MAX ARRAY VALUE
                maxForceArr.push(data.value);
            }
            else if (data.sensor == 'rightForce') {
                
                document.querySelector('#rightForce').innerText = "\xa0\xa0\xa0\xa0 Right: " + data.value + " N";
                
                myDataZ.push(data.value);
                //time_axis.push(time_counter++);
                myChartForceBar.data.labels.pop(); // added to make bar graph
                myChartForceBar.data.labels.push(time_counter.toString());
                
                //time_counter++;
                myChartForceBar.data.datasets.forEach((dataset) => {
                    if (dataset.label == 'Right Force Sensor') {
                        dataset.data.pop(); // added to make bar graph
                        dataset.data.push(myDataZ[myDataZ.length-1]);
                    }
                });
                

                myChartForceBar.update('none'); // 'none' removes animations
                console.log(myDataZ);

                // UPDATE ARRAY FOR MAX FORCE VAL
                maxForceArr.push(data.value);
            }
            else if (data.sensor == 'topForce') {
                document.querySelector('#topForce').innerText = "\xa0\xa0\xa0\xa0 Top: " + data.value + " N";
                
                myDataZ.push(data.value);
                //time_axis.push(time_counter++);
                myChartForceBar.data.labels.pop(); // added to make bar graph
                myChartForceBar.data.labels.push(time_counter.toString());
                
                //time_counter++;
                myChartForceBar.data.datasets.forEach((dataset) => {
                    if (dataset.label == 'Top Force Sensor') {
                        dataset.data.pop(); // added to make bar graph
                        dataset.data.push(myDataZ[myDataZ.length-1]);
                    }
                });
                

                myChartForceBar.update('none'); // 'none' removes animations
                console.log(myDataZ);

                // UPDATE ARRAY FOR MAX FORCE VALUE
                maxForceArr.push(data.value);
            }
            else if (data.sensor == 'bottomForce') {
                document.querySelector('#bottomForce').innerText = "\xa0\xa0\xa0\xa0 Bottom: " + data.value + " N";
                
                myDataZ.push(data.value);
                
                myChartForceBar.data.labels.pop(); // added to make bar graph
                myChartForceBar.data.labels.push(time_counter.toString());
               
                myChartForceBar.data.datasets.forEach((dataset) => {
                    if (dataset.label == 'Bottom Force Sensor') {
                        dataset.data.pop(); // added to make bar graph
                        dataset.data.push(myDataZ[myDataZ.length-1]);
                    }
                });
                

                myChartForceBar.update('none'); // 'none' removes animations
                console.log(myDataZ);

                // update MAX FORCE VALUE GRAPH
                maxForceArr.push(data.value);
                maxForceVal = Math.max( ...maxForceArr );

                document.querySelector('#maxForce').innerText = "\xa0\xa0\xa0\xa0 Max Force: " + maxForceVal+ " N";

                myData.push(maxForceVal);
                time_axis.push(time_counter);
                //myChartTemp.data.labels.pop(); // added to make bar graph
                myChartForceMaxLine.data.labels.push(time_counter.toString());
                

                myChartForceMaxLine.data.datasets.forEach((dataset) => {
                    if (dataset.data.length > 50) {
                        dataset.data.shift();
                        myChartForceMaxLine.data.labels.shift();
                    }
                    
                //   dataset.data.pop(); // added to make bar graph
                    dataset.data.push(myData[myData.length-1]);
                });
                myChartForceMaxLine.update(); // 'none' removes animations
                console.log(myData);
                maxForceArr = [];

            }
            
            
            /*
            else if (data.sensor == 'ircamera') {

                //document.querySelector('#ir_frame').innerText = "Z: " + data.value[0] + " m/s/s";
                IRCameraData = data.value;
                
            }
            */
            
            /*
            else if (data.sensor == 'pir') {                
                if (time_counter % displayFreq == 0) { 
                    document.querySelector('#pir').innerText = "\xa0\xa0\xa0\xa0 PIR = " + data.value + " UNITS"; //JSON.stringify(data);
                }
                myDataPIR.push(data.value);
                time_axis.push(time_counter);
                myChartPIR.data.labels.push(time_counter.toString());
                
                myChartPIR.data.datasets.forEach((dataset) => {
                    if (dataset.data.length > 50) {
                        dataset.data.shift();
                        myChartPIR.data.labels.shift();
                    }
                    
                    dataset.data.push(myDataPIR[myDataPIR.length-1]);
                });
                myChartPIR.update(); // 'none' removes animations
                console.log(myDataPIR);
            }
            */
            /*
            else if (data.sensor == 'photoDiode') {                
                if (time_counter % displayFreq == 0) { 
                    document.querySelector('#photoDiode').innerText = "\xa0\xa0\xa0\xa0 Photo Diode = " + data.value + " UNITS"; //JSON.stringify(data);
                }
                myDataPhotoDiode.push(data.value);
                time_axis.push(time_counter);
                myChartPhotoDiode.data.labels.push(time_counter.toString());
                
                myChartPhotoDiode.data.datasets.forEach((dataset) => {
                    if (dataset.data.length > 50) {
                        dataset.data.shift();
                        myChartPhotoDiode.data.labels.shift();
                    }
                    
                    dataset.data.push(myDataPhotoDiode[myDataPhotoDiode.length-1]);
                });
                myChartPhotoDiode.update(); // 'none' removes animations
                console.log(myDataPhotoDiode);
            }
            else if (data.sensor == 'photoResistor') {                
                if (time_counter % displayFreq == 0) { 
                    document.querySelector('#photoResistor').innerText = "\xa0\xa0\xa0\xa0 Photo Resistor = " + data.value + " UNITS"; //JSON.stringify(data);
                }
                myDataPhotoResistor.push(data.value);
                time_axis.push(time_counter);
                myChartPhotoResistor.data.labels.push(time_counter.toString());
                
                myChartPhotoResistor.data.datasets.forEach((dataset) => {
                    if (dataset.data.length > 50) {
                        dataset.data.shift();
                        myChartPhotoResistor.data.labels.shift();
                    }
                    
                    dataset.data.push(myDataPhotoResistor[myDataPhotoResistor.length-1]);
                });
                myChartPhotoResistor.update(); // 'none' removes animations
                console.log(myDataPhotoResistor);
            }
            */
        }
    var IRCmaeraHiddenBool = 0;
    var canvas;
    function setup() {
      var scale_factor = 20;
      canvas = createCanvas(32*scale_factor, 24*scale_factor);

      var x = (windowWidth - width) / 2;  
    
      canvas.position(x, 10, 'relative');
      pixelDensity(0.05);
    }

    function draw() {
      var count = 0;
      if (IRCmaeraHiddenBool) {
        canvas.hide();
      }
      else {
        canvas.show();
      }
      background(51);
      loadPixels();
      
      var scale_factor = 1;
      for (var y = 0; y < height; y+=scale_factor) {
        for (var x = 0; x < width; x+=scale_factor) {
          var index = (x + y * width) * 4;
          if (IRCameraData[count] <= 25) {
              pixels[index + 0] = 39;
              pixels[index + 1] = 206;
              pixels[index + 2] = 245;
              pixels[index + 3] = 255;
            
          }
          else if (IRCameraData[count] > 25 && IRCameraData[count] <= 25.5) {
              pixels[index + 0] = 39;
              pixels[index + 1] = 198;
              pixels[index + 2] = 245;
              pixels[index + 3] = 255;
          }
          else if (IRCameraData[count] > 25.5 && IRCameraData[count] <= 26) {
              pixels[index + 0] = 39;
              pixels[index + 1] = 163;
              pixels[index + 2] = 245;
              pixels[index + 3] = 255;
          }
          else if (IRCameraData[count] > 26 && IRCameraData[count] <= 26.5) {
              pixels[index + 0] = 39;
              pixels[index + 1] = 78;
              pixels[index + 2] = 245;
              pixels[index + 3] = 255;
          }
          else if (IRCameraData[count] > 26 && IRCameraData[count] <= 26.5) {
              pixels[index + 0] = 39;
              pixels[index + 1] = 78;
              pixels[index + 2] = 245;
              pixels[index + 3] = 255;
          }
          else if (IRCameraData[count] > 26.5 && IRCameraData[count] <= 27) {
              pixels[index + 0] = 39;
              pixels[index + 1] = 78;
              pixels[index + 2] = 245;
              pixels[index + 3] = 255;
          }
          else if (IRCameraData[count] > 27 && IRCameraData[count] <= 28) {
              pixels[index + 0] = 39;
              pixels[index + 1] = 78;
              pixels[index + 2] = 245;
              pixels[index + 3] = 255;
          }
          else if (IRCameraData[count] > 28 && IRCameraData[count] <= 30) {
              pixels[index + 0] = 245;
              pixels[index + 1] = 39;
              pixels[index + 2] = 219;
              pixels[index + 3] = 255;
          }
          else if (IRCameraData[count] > 30 && IRCameraData[count] <= 32) {
              pixels[index + 0] = 245;
              pixels[index + 1] = 39;
              pixels[index + 2] = 155;
              pixels[index + 3] = 255;
          }
          else if (IRCameraData[count] > 32 && IRCameraData[count] <= 35) {
              pixels[index + 0] = 245;
              pixels[index + 1] = 39;
              pixels[index + 2] = 95;
              pixels[index + 3] = 255;
          }
          else {
            pixels[index + 0] = 245;
            pixels[index + 1] = 39;
            pixels[index + 2] = 39;
            pixels[index + 3] = 255;
          }
          count++;
        }
      }
      
      updatePixels();
    }
    
    </script>


<script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
    }
</script>


<script>

  let togglePIR = button => {

    let canvasPIR = document.getElementById("PIR");
    let hiddenPIR = canvasPIR.getAttribute("hidden");

    const backgroundColor = PIRButton.style.backgroundColor;

    if (backgroundColor === 'green') {
        PIRButton.style.backgroundColor = 'gray';
    }
    else {
        PIRButton.style.backgroundColor = 'green'
    }


    if (hiddenPIR) {
       canvasPIR.removeAttribute("hidden");
       button.innerText = "Hide PIR";
    } else {
       canvasPIR.setAttribute("hidden", "hidden");
       button.innerText = "Show PIR";
    }
  }

</script>




<script>

  let togglePhotoResistor = button => {

    let canvasPhotoResistor = document.getElementById("PHOTORESISTOR");
    let hiddenPhotoResistor = canvasPhotoResistor.getAttribute("hidden");

    const backgroundColor = PhotoResistorButton.style.backgroundColor;

    if (backgroundColor === 'green') {
        PhotoResistorButton.style.backgroundColor = 'gray';
    }
    else {
        PhotoResistorButton.style.backgroundColor = 'green'
    }
        


    if (hiddenPhotoResistor) {
       canvasPhotoResistor.removeAttribute("hidden");
       button.innerText = "Hide Photo Resistor";
    } else {
       canvasPhotoResistor.setAttribute("hidden", "hidden");       
       button.innerText = "Show Photo Resistor";
    }
  }

</script>


<script>


  let toggleTemperature = button => {

    let canvasTemp = document.getElementById("TEMP");
    let hiddenTemp = canvasTemp.getAttribute("hidden");

    const backgroundColor = TemperatureButton.style.backgroundColor;

    if (backgroundColor === 'green') {
        TemperatureButton.style.backgroundColor = 'gray';
    }
    else {
        TemperatureButton.style.backgroundColor = 'green'
    }
        

    if (hiddenTemp) {
        canvasTemp.removeAttribute("hidden");
        button.innerText = "Hide Temperature";
    } else {
        canvasTemp.setAttribute("hidden", "hidden");
        button.innerText = "Show Temperature";
    }
  }

</script>



<script>

  let toggleSound = button => {

    let canvasSound = document.getElementById("SOUND");
    let hiddenSound = canvasSound.getAttribute("hidden");

    const backgroundColor = SoundButton.style.backgroundColor;

    if (backgroundColor === 'green') {
        SoundButton.style.backgroundColor = 'gray';
    }
    else {
        SoundButton.style.backgroundColor = 'green'
    }

    if (hiddenSound) {
        canvasSound.removeAttribute("hidden");
        button.innerText = "Hide Sound";
    } else {
        canvasSound.setAttribute("hidden", "hidden");
        button.innerText = "Show Sound";
    }
  }

</script>


<script>

  let toggleAcc = button => {

    let canvasAcc = document.getElementById("ACC");

    let hiddenAcc = canvasAcc.getAttribute("hidden");

    const backgroundColor = AccelerometerButton.style.backgroundColor;

    if (backgroundColor === 'green') {
        AccelerometerButton.style.backgroundColor = 'gray';
    }
    else {
        AccelerometerButton.style.backgroundColor = 'green'
    }

    if (hiddenAcc) {
        canvasAcc.removeAttribute("hidden");
        button.innerText = "Hide Accelerometer";
    } else {
        canvasAcc.setAttribute("hidden", "hidden");
        button.innerText = "Show Accelerometer";
    }
  }

</script>




<script>

  let toggleForceBars = button => {

    let canvasForceBar = document.getElementById("FORCEBAR");
    let hiddenForceBar = canvasForceBar.getAttribute("hidden");

    const backgroundColor = ForceBarsButton.style.backgroundColor;

    if (backgroundColor === 'green') {
        ForceBarsButton.style.backgroundColor = 'gray';
    }
    else {
        ForceBarsButton.style.backgroundColor = 'green'
    }

    if (hiddenForceBar) {
        canvasForceBar.removeAttribute("hidden");
 

        button.innerText = "Hide Force Bars";
    } else {
        canvasForceBar.setAttribute("hidden", "hidden");

        button.innerText = "Show Force Bars";
    }
  }

</script>


<script>

  let togglePhotoDiode = button => {

    let canvasPhotoDiode = document.getElementById("PHOTODIODE");
    let hiddenTemp = canvasPhotoDiode.getAttribute("hidden");

    const backgroundColor = PhotoDiodeButton.style.backgroundColor;

    if (backgroundColor === 'green') {
        PhotoDiodeButton.style.backgroundColor = 'gray';
    }
    else {
        PhotoDiodeButton.style.backgroundColor = 'green'
    }

    if (hiddenTemp) {
        canvasPhotoDiode.removeAttribute("hidden");
        button.innerText = "Hide Photo Diode";
    } else {
        canvasPhotoDiode.setAttribute("hidden", "hidden");
        button.innerText = "Show Photo Diode";
    }
  }

</script>

</script>


<script>

  let toggleMaxForce = button => {

    let canvasMaxForce = document.getElementById("MAXFORCE");
    let hiddenMaxForce = canvasMaxForce.getAttribute("hidden");

    const backgroundColor = MaxForceButton.style.backgroundColor;

    if (backgroundColor === 'green') {
        MaxForceButton.style.backgroundColor = 'gray';
    }
    else {
        MaxForceButton.style.backgroundColor = 'green'
    }

    if (hiddenMaxForce) {
        canvasMaxForce.removeAttribute("hidden");
        button.innerText = "Hide Max Force";
    } else {
        canvasMaxForce.setAttribute("hidden", "hidden");
        button.innerText = "Show Max Force";
    }
  }

</script>


<script>

  let toggleIRCamera = button => {

    const backgroundColor = IRCameraButton.style.backgroundColor;

    if (backgroundColor === 'green') {
        IRCameraButton.style.backgroundColor = 'gray';
    }
    else {
        IRCameraButton.style.backgroundColor = 'green'
    }

    if (IRCmaeraHiddenBool) {
        IRCmaeraHiddenBool = 0;
        button.innerText = "Hide IR Camera";
    } else {
        IRCmaeraHiddenBool = 1;
        button.innerText = "Show IR Camera";
    }
  }

</script>


    </body>
</html>
